---
title: "Quick Tutorial"
layout: splash
permalink: /tutorial/
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/bg.jpg
  cta_label: 
  cta_url: 
  caption: 
excerpt: "You can make navigation easier by reviewing this guide."
intro: 
  - excerpt: 'Ƹ̵̡Ӝ̵̨̄Ʒ'
feature_row2:
  - image_path: 
    alt: "placeholder image 2"
    title: "İletişim"
    excerpt: 'You can follow our social media accounts on the left. At the same time you can use (like business) ferhat@ekofi.science.'
    url: 
    btn_label: "Well done!"
    btn_class: "btn--primary"
feature_row3:
  - image_path: 
    alt: "placeholder image 2"
    title: "Maybe you can like: Suggestions"
    excerpt: 'At the bottom you will see the recommended part of the article. You can go to any of them by clicking.'
    url: 
    btn_label: "Tamam"
    btn_class: "btn--primary"
feature_row4:
  - image_path: 
    alt: "placeholder image 2"
    title: "Thats it!"
    excerpt: 'You can go back to main menu.'
    url: 
    btn_label: "Done"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row2" type="center" %}

{% include feature_row id="feature_row3" type="center" %}

{% include feature_row id="feature_row4" type="center" %}
